.edit-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-page .form-field {
  width: 400px;
}

.edit-page .form-label {
  color: #4d4d4d;
}

.edit-page .form {
  margin-bottom: 30px;
}

